<!DOCTYPE html>
<head>
    <title>SomeBuddy</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <style>
        form{
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: bold;
        }
    </style>
</head>
<html>
<body>
    <div class='outer'><h4>HI!</h4></div>
    <!-- <form action="" method="post"><label for="name">Would you like to name your buddy: <input type="text" id="buddy_name" name="buddy_name"></label>
        <button type="submit">Change</button>
    </form> -->
    <button type="button" class="nxt-btn"><a href="home" class="next-link">NEXT</a></button>
</body>
</html>